header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: 0.3s all;
}
.changeColor {
   background-color: rgba(255,255,255,0.7);
}
nav {
  width: 350px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #182024;
  z-index: 99;
}
header a {
  text-decoration: none;
  color: #182024;
  padding-top: 8px;
  z-index: 99;
}
nav a:hover {
  text-decoration: underline;
}
.underline {
  width: 205px;
  height: 5px;
  background: #dbbaaf;
  margin-top: -10px;
  z-index: 50;
}
