html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  color: #182024;
}
.parallax {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
h2 {
  font-size: 200px;
  line-height: 200px;
  margin: 0 30px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 100;
  color: #182024;
  text-transform: uppercase;
}
.opener {
  font-weight: 300;
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
}
p {
  font-size: 18px;
  line-height: 34px;
  margin: 0 0 12px 0;
}
li {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}
main {
  position: relative;
  z-index: 50;
  /* background-color: #ffffff; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.right {
  text-align: right;
  padding: 0 25px;
  box-sizing: border-box;
}
.left {
  text-align: left;
  padding-left: 25px;
  box-sizing: border-box;
}
/* .intro {
  background-image: url("../img/bg-lg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 101vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 1px
} */

.intro {
  box-sizing: border-box;
  transform-style: inherit;
  width: 100vw;
}
.intro, .intro:before {
  background: 50% 50% / cover;
}
.intro::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;background-image: url("../img/bg-lg.jpg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-2px) scale(3);
  z-index: -1;
  min-height: 100vh;
}
.hello {
  box-sizing: border-box;
  padding: 325px 1px 0 1px;
  z-index: 1;
}
.triangle {
  width: 0;
  height: 0;
  /* border-left: 300px solid rgba(55,75,84,.9); */
  border-left: 300px solid rgba(219,186,175,.9);
  border-top: 200px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 200px solid transparent;
  margin-top: -425px;
  margin-left: 20px;
 }
.work, .about, .contact {
  box-sizing: border-box;
  z-index: 50;
  position: relative;
  background-color: #ffffff;
}
.work, .about {
  padding: 100px 0 0 0;
}
.pink {
  background-color: #dbbaaf;
}
.rose {
  background-color: #cd7d67;
}
.blush {
  background-color: #a5796f;
}
.gold {
  background-color: #e8b37f;
}
.black {
  background-color: #182024;
}
.gray {
  background-color: #FAFAFA;
  box-shadow: inset 0 0 10px #f1f1f1;
}
.white {
  background: white;
}
.frosted {
  background: rgba(255, 255, 255, 0.8);
}
.work-index {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 25px 10px;
}
.buttons {
  box-sizing: border-box;
  text-align: center;
  margin: 100px auto 50px;
  padding: 100px 25px;
}
.dom, .opc, .pc {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .2s ease-in-out;
  margin: 10px;
  width: 100%;
  height: auto;
}
.dom {
  background-image: url("../img/coders.jpg")
}
.opc {
  background-image: url("../img/newspaper.jpg")
}
.pc {
  background-image: url("../img/calendar.jpg")
}
.dom-inner, .opc-inner, .pc-inner {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 150px;
  box-sizing: border-box;
  margin: -1px;
}
.dom:hover, .pc:hover, .opc:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.buttons a {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-weight: 100;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  color: #182024;
  display: inline-block;
  font-weight: 700;
}

/* .element-to-hide {
    visibility: hidden;
    -webkit-transition: visibility 1.5s;
    transition: visibility 1.5s;
}
.fadeIn {
    visibility: visible;
    animation: fadeIn 1.5s ease-in-out 1;
    -webkit-animation: fadeIn 1.5s ease-in-out 1;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeOut {
    animation: fadeOut 1.5s ease-in-out 1;
    -webkit-animation: fadeOut 1.5s ease-in-out 1;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */
.about {
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0px;
}
.about-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.about figure {
  width: 33%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
}
.about img {
  width: 100%;
}
.about img {
  width: 100%;
  display: block;
}
.about-text {
  padding: 0px 50px;
  box-sizing: border-box;
  float: left;
  width: 67%;
  margin: auto;
  max-width: 800px;
}

/* parallax! */

/* .parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}
.parallax__group {
  position: relative;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-3px) scale(6);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
} */
.calendar-lg {
  background: url("../img/calendar-lg.jpg") no-repeat center center;
}
.newspaper-lg {
  background: url("../img/newspaper-lg.jpg") no-repeat center center;
}
.classroom-lg {
  background: url("../img/classroom-lg.jpg") no-repeat center center;
}
