body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  color: #182024;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
}
p {
  font-size: 20px;
  line-height: 34px;
}
li {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 6px;
}
.intro {
  background-image: url("../img/bg-lg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 101vh;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1px;
}
.hello {
  box-sizing: border-box;
  padding: 1px;
}
.intro h2 {
  font-size: 200px;
  line-height: 200px;
  margin: 0 30px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 300px solid rgba(219,186,175,.9);
  border-top: 200px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 200px solid transparent;
  margin-top: -425px;
  margin-left: 20px;
 }
.work, .writing, .about, .contact {
  min-height: 101vh;
  box-sizing: border-box;
  padding: 50px 0 100px 0;
}
section h2 {
  font-size: 150px;
  color: #182024;;
  font-style: italic;
  text-transform: uppercase;
  margin: 20px;
}
.pink {
  background-color: #dbbaaf;
}
.rose {
  background-color: #cd7d67;
}
.blush {
  background-color: #a5796f;
}
.gold {
  background-color: #e8b37f;
}
.black {
  background-color: #182024;
}
.about-inner {
  display: flex;
  vertical-align: middle;
}
.about figure {
  width: 50%;
  margin: 0 0 0 -20px;
  padding: 0;
  float: left;
  overflow: hidden;
}
.about img {
  width: 100%;
}
.about img {
  width: 100%;
  display: block;
}
.about-text {
  padding: 0px 50px;
  box-sizing: border-box;
  float: left;
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }
  .title, nav {
    width: 100%;
    text-align: center;
    max-width: 350px;
    margin: auto;
  }
  .intro h2 {
    font-size: 75px;
    line-height: 75px;
  }
  .intro {
    height: 60vh;
  }
  .triangle {
    border-left: 150px solid rgba(219,186,175,.9);
    border-top: 100px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    margin-top: -210px;
  }
  section h2 {
    font-size: 50px;
  }
  .about-inner {
    flex-direction: column;
  }
  .about figure {
    width: 100%;
    margin: 0;
  }
  .about-text {
    width: 100%;
  }
  .work, .writing, .about, .contact {
    min-height: 50vh;
    box-sizing: border-box;
    padding: 50px 0 100px 0;
  }
  .text, .pics {
    width: 100%;
  }
  .text {
    order: 1;
    padding: 20px;
  }
  .pics {
    order: 2;
  }
  .role {
    flex-direction: column;
  }
  .linkedin, .mail, .twitter {
    width: 100px;
    height: 100px;
  }
}
