.work, .community {
  margin-top: 100px;
}
.work img {
  margin: auto;
  float: left;
  box-sizing: border-box;
  width: 70%;
  height: 70%;
}
.role, .duties {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
.cf, .bb, .fh {
  overflow: auto;
}
.text, .pics {
  float: left;
  display: block;
}
.cf-side {
  width: 50%;
  margin: auto;
}
.linebg {
  /* display: flex;
  justify-content: space-between; */
  background: repeating-linear-gradient(
  55deg,
  #FAFAFA,
  #FAFAFA 15px,
  #F5F5F5 15px,
  #F5F5F5 30px
);
}
.text {
  width: 50%;
  padding: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  box-shadow: inset 0 0 10px #f1f1f1;
}
.text ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.text li {
  padding-left: 27px;
}
.text li::before {
  content: "»";
  margin-left: -26px;
  margin-right: 15px;
  color: #D7D7D7;
  font-weight: 400;
}
.work h3 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 100;
  color: #182024;
  font-style: italic;
  text-transform: uppercase;
}
.work h4 {
  color: #cd7d67;
  font-size: 16px;
  line-height: 21px;
  margin: 12px 0 6px 0;
  font-weight: 400;
}
.work hr {
  display: none;
  /* border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff, #f0f0f0, #8c8b8b, #f0f0f0, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff, #f0f0f0, #8c8b8b, #f0f0f0, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff, #f0f0f0, #8c8b8b, #f0f0f0, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff, #f0f0f0, #8c8b8b, #f0f0f0, #ffffff, #ffffff); */
}
